<a href="https://colab.research.google.com/github/FelipePinheiro964/PUCRS---Fase-2---Steam-Games/blob/main/PUCRS_Fase_2_Steam_games.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(np.version)

<module 'numpy.version' from '/usr/local/lib/python3.10/dist-packages/numpy/version.py'>

*TRABALHO DE PROGRAMAÇÃO PARA DADOS*

_NOME:_ Felipe Pinheiro Fossá -
_CURSO:_ Banco de Dados: ênfase em data Analytics

In [24]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#seleção de arquivo
f = input('Digite o nome do arquivo: ')

#finalização forçada
if str.lower(f) == 'sair':
  print('Saindo...')
  sys.exit('O sistema foi finalizado pelo usuario, inicie novamente para outro uso.')
else:
  tabela = pd.read_csv(f, sep=",")
  if tabela.empty:
    print('Arquivo vazio.')

match input('Digite o número da questão: '):
  case '0':
    print('Saindo...')
    sys.exit('O sistema foi finalizado pelo usuario, inicie novamente para outro uso.')
  case '1': #questão 1
    try:

      questao_1 = tabela[['Name', 'Metacritic score', 'Release date']]

      if questao_1['Release date'].duplicated().any():
        questao_1_order = questao_1.sort_values(by= 'Release date' and 'Metacritic score', ascending=True)# Mostra os 10 maiores
        display(questao_1_order.tail(n=10))                                                               #false mostrava os 10 menores

      else:

        questao_1_10 = questao_1.copy()
        top_10_notas = questao_1_10.nlargest(10, 'Metacritic score').sort_values(by='Metacritic score', ascending=False) # mostra os maiores por ter poucos dados
        display(top_10_notas.tail(n=10))

    except FileNotFoundError:
      print('Digite um nome válido')

  case '2':
        #try:
          tabela_copy = tabela.copy() #cria uma copia da tabela
          mask = tabela_copy['Genres'].str.contains('RPG', case=False, na=False) #procura todos os generos RPG
          RPG = tabela_copy[mask] #cria uma variavel RPG para facilitar leitura
          RPG = RPG.dropna(subset=['Genres']) #retiro qualquer genero None presente
          print('Neste arquivo, temos:')
          display(RPG)
          #Media e maximo de DLCs no genero
          print()

          #DLCs do Genero RPG
          max_DLC = RPG['DLC count'].max() #mostra o maior valor de DLCs
          print(f'Para o genero RPG, temos {max_DLC:.2f} DLCs')

          media_DLC = RPG['DLC count'].mean()
          print(f'Em media, temos {media_DLC:.2f} DLCs presentes nesta categoria')

          print()

          #Media e maxima de avaliaçoes positivas
          max_positivas = RPG['Positive'].max() #mostra o maior valor de DLCs
          print(f'Para o genero RPG, temos {max_positivas:.2f} avalições positivas')

          media_positivas = RPG['Positive'].mean()
          print(f'Em media, temos {media_positivas:.2f} avalições positivas presentes nesta categoria')

          print()

          #Media e maxima de avaliaçoes positivas
          max_negativas = RPG['Negative'].max() #mostra o maior valor de DLCs
          print(f'Para o genero RPG, temos {max_negativas:.2f} avalições negativas')

          media_negativas = RPG['Negative'].mean()
          print(f'Em media, temos {media_negativas:.2f} avalições negativas presentes nesta categoria')
          #screenshots e filmes a ver

  case '3':

## 5 empresas com mais publi
    tabela_copy2 = tabela.copy()
    empresas = tabela_copy2['Publishers'].value_counts()
    top5_empresas = empresas.head(5)

    top5_empresas_index = empresas.head(5).index

    top5_empresas_pagos = tabela_copy2[

        (tabela_copy2['Publishers'].isin(top5_empresas_index)) &
        (tabela_copy2['Price'] > 0)

    ]


    media_positivas = top5_empresas_pagos.groupby('Publishers')['Positive'].mean()

    mediana_positivas = top5_empresas_pagos.groupby('Publishers')['Positive'].median()

    display(top5_empresas)
    display(media_positivas)
    display(mediana_positivas)

Digite o nome do arquivo: steam_games.csv
Digite o número da questão: 3

Publishers
Big Fish Games    465
8floor            240
SEGA              169
Strategy First    163
Laush Studio      157
Name: count, dtype: int64

Publishers
8floor               4.460251
Big Fish Games       7.363431
Laush Studio        19.777070
SEGA              4422.688742
Strategy First     276.450617
Name: Positive, dtype: float64

Publishers
8floor              3.0
Big Fish Games      5.0
Laush Studio       12.0
SEGA              932.0
Strategy First     23.0
Name: Positive, dtype: float64

In [ ]:
import pandas as pd

# Supondo que você já tenha lido o arquivo CSV em um DataFrame chamado 'tabela'
# tabela = pd.read_csv('seu_arquivo.csv', sep=",")

# Exemplo de DataFrame
data = {
    'Name': ['Game A', 'Game B', 'Game C', 'Game D', 'Game E', 'Game F', 'Game G'],
    'Publisher': ['Empresa X', 'Empresa Y', 'Empresa X', 'Empresa Z', 'Empresa Y', 'Empresa X', 'Empresa Z'],
    'Positive Ratings': [100, 200, 150, 300, 250, 400, 350]
}

tabela = pd.DataFrame(data)

# Contando o número de publicações por empresa
publicacoes_por_empresa = tabela['Publisher'].value_counts()

# Selecionando as 5 empresas que mais publicaram
top_5_empresas = publicacoes_por_empresa.head(5).index

# Calculando a média de avaliações positivas para as 5 empresas
media_avaliacoes = tabela[tabela['Publisher'].isin(top_5_empresas)].groupby('Publisher')['Positive Ratings'].mean()

# Exibindo a média de avaliações positivas
print(media_avaliacoes)